<ul>
  <li *ngFor="let book of books; let i = index; let o = odd; let e = even; let count = count">
    {{ i }}: {{ book.title }}: {{ o }} | {{ e }} | {{ count }}
  </li>
</ul>

<button (click)="handleIsVisible()">Change isVisible</button>

<div *ngIf="isVisible; else elseBlock">Test on the ngIf (isVisible)</div>

<div [hidden]="!isVisible">Test on the ngIf (hidden) (display: none)</div>

<ng-template #elseBlock> Test on the ng-template (!isVisible) </ng-template>

<div [ngClass]="cssClasses">This is a sentance affected by class dynamically</div>
<button (click)="changeClasses()">Change classes</button>
