<button (click)="showConfig()">Show Data</button>
<button (click)="showConfigResponse()">Console log Data Response</button>
<button (click)="showHttpJson()">Console log Json Data</button>
<div *ngIf="config">{{ config.heroesUrl }}</div>
<div *ngIf="config">{{ config.textfile }}</div>

<div>
  <button (click)="failHttpJson()">Fail call</button>
</div>
<div>
  <button (click)="playWithParams()">playWithParams</button>
    <button (click)="showHttpWithParamsJson()">showHttpWithParamsJson</button>
</div>
