<div id="root">
  <div class="navigation">
    <nav>
      <ul>
        <li><a routerLink="/experience_0001" routerLinkActive="active">Experience 1</a></li>
        <li><a routerLink="/experience_0002" routerLinkActive="active">Experience 2</a></li>
        <li><a routerLink="/experience_0003" routerLinkActive="active">Experience 3</a></li>
        <li><a routerLink="/experience_0004" routerLinkActive="active">Experience 4</a></li>
        <li><a routerLink="/experience_0005" routerLinkActive="active">Experience 5</a></li>
        <li><a routerLink="/experience_0006" routerLinkActive="active">Experience 6</a></li>
        <li><a routerLink="/experience_0007" routerLinkActive="active">Experience 7</a></li>
        <li><a routerLink="/experience_0008" routerLinkActive="active">Experience 8</a></li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
